*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    background-color: #9EA7A6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 45vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header h1{
    color: whitesmoke;
    flex-grow: 1;
    font-size: 2rem;
    
    padding-left: 2%;
    
}
.header-contenedor{
    height: 15%;
    width:100%;
    display: flex;
    justify-content:space-between;
    background-color:#293C42;
    align-items:center;
    
}

nav a{
    width: 10rem;
    height: 2rem;
    padding: 0.5rem;
    margin-right: 1.5rem;
    background-color: #9EA7A6;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
}

a[href="#"]{
    background-color: rgb(224, 148, 33);
    color: aliceblue;
}

.imagen-header{
    height: 85%;
    width:100%;
    
}
.imagen-header img{
    width:100%;
    max-height: 100%;
    object-fit: cover;
}
main{
    height: 50vh; 
    margin-top: 0.5rem;
}
.contenedordemain{
    display:flex;
    margin: 0.5rem;
}
.listajuego{
    margin: 1rem;
}
.divdelogo{
    background-color:#677474;
    width: 20%;
    height: 100%;
    display: flex;
}
.divdelogo img{
    width: 80%;
}
section{
    background-color:#9EA7A6;
    width: 80%;
    display: flex;
    margin-left: 0.5rem;
    background-color:#999999;
    color: rgb(3, 3, 3);
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.txt-cont{
    padding: 1rem;
    
}
.txt-cont h1{
    text-align: center;
}
.txt-cont h2{
    text-align: center;
    padding: 1rem;
}
.txt-cont h3{
    padding: 1rem;
}
.img-cont{
    height: 100%;
    display:flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}
.tituloh3{
    text-align: center;
}

#titulo-form{
    background-color: brown;
    color: #f8f8f8;
    padding: 1rem;
    
}

.contenedor-form {
    display:flex;
    background-color: rgb(234, 236, 236);
    flex-direction: column;
    padding: 1.5em 1em; 
    align-items: flex-start;
    gap: 1rem;
}

.contenedor-fl,.street-address,.contenedor-birthdate, .contenedor-gender, .contenedor-grade{
    display: flex;
    flex-grow: 2;
    padding: 1em;
    width: 100%;
    justify-content: flex-start;
}

.preguntas-formulario{
    font-size: 1rem;
    font-weight: bolder;
}

.contenedor-grade input, .contenedor-birthdate input, .contenedor-birthdate label{
    margin-left: 1rem;
}

.contenedor-school {
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    width: 100%;
}

.group1{
    display: flex;
    flex-direction: column;
    width:40%;
}

.permission-text{
    text-align:justify;

}

.group2{
    display: flex;
    flex-direction: column;
    width:40%;
}

#streetaddress-tbx{
    flex-grow: inherit;
}

.grade-desc{
    font-variant-position: super;
}

.contenedor-fl>*{
    margin-right: 0.6em;
}

.txt-cont table *{
    border-spacing: 1rem;
    padding: 1rem;
}

.txt-cont table thead{
    background-color: #e09421;

}
.txt-cont tr.linea td, td.linea-td{
 border-bottom: 2px solid #888888;
}

td.fecha{
 text-align: center;
 font-weight: bold;
}
.mapa-contenedor{
    padding: 1rem;
    display: flex;
    background-color: #677474;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}
.mapa-contenedor div h3{
    text-align: center;
    color: #f8f8f8;
    padding: 0.5rem;
}
footer{
    height: 5vh;
    background-color:#293C42;
}